<h1><%= @todoitem.title %></h1>

<p><%= @todoitem.description %></p>

<ul>
  <li>
    <%= link_to "Edit", edit_todo_item_path(@todoitem) %>
  </li>
  <li>
    <%= link_to "Delete", todo_item_path(@todoitem),
                          method: :delete,
                          data: {confirm: "Are you sure?"}
    %>
  </li>
</ul>

<%= render "linktonew" %>
<%= render "linktomain" %>
